<form [formGroup]="bookForm" class="example-form" (submit)="submit()">
  <mat-form-field class="example-full-width">
    <input matInput [formControlName]="'title'" placeholder="Title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput [formControlName]="'description'" placeholder="Leave a description"></textarea>
  </mat-form-field>

  <p>Author:</p>
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
    <mat-form-field class="example-full-width" style="margin-right: 10px">
      <input matInput [formControlName]="'author_name'" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [formControlName]="'author_last_name'" placeholder="Last-name">
    </mat-form-field>
  </div>

  <mat-form-field *ngIf="categories | async as categoryList">
    <mat-label>Category</mat-label>
    <mat-select [formControlName]="'category'">
      <mat-option *ngFor="let category of categoryList"  [value]="category.id">
        {{ category.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" [formControlName]="'pages'" placeholder="Pages">
  </mat-form-field>

  <app-preview-uploader (selectImage)="changeImage($event)"></app-preview-uploader>

  <button mat-button type="submit" color="primary">Send</button>
</form>
