<mat-card [id]="book.id">
  <img mat-card-md-image [routerLink]="['book', book.id]" [src]="book.screen | serverImage" [alt]="book.title">

  <div #card></div>

  <mat-card-title>
    {{ book.title }}
  </mat-card-title>

  <mat-card-subtitle *ngIf="author | async as item">
    {{ item | author }}
  </mat-card-subtitle>

  <mat-card-content>
    {{ book.description }}
  </mat-card-content>

  <a [routerLink]="['/book', book.id]" color="primary">Open</a>

  <button mat-button (click)="removeBook(book.id)" color="warn">Delete</button>
</mat-card>
