<mat-card *ngIf="book | async as item; else loading">
  <img mat-card-lg-image [src]="item.screen.url" [alt]="item.title">

  <mat-card-title>
    {{ item.title | uppercase }}
  </mat-card-title>

  <mat-card-subtitle>
    {{ item | author | lowercase }}
  </mat-card-subtitle>

  <mat-card-content>
    {{ item.description }}
  </mat-card-content>

  <mat-card-content>
    {{ item.progress | number:'1.2-2' }}
  </mat-card-content>

  <mat-card-content>
    {{ item.date | date:'d y' }}
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <h2>...Loading</h2>
</ng-template>
