<form *ngIf="book | async as item" [formGroup]="bookForm" class="example-form" (submit)="submit()">
  <mat-form-field class="example-full-width">
    <input matInput [formControlName]="'title'" placeholder="Title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput [formControlName]="'description'" placeholder="Leave a description"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="authors | async as authorList">
    <mat-label>Author</mat-label>
    <mat-select [formControlName]="'author'">
      <mat-option *ngFor="let author of authorList" [value]="author.id">
        {{ author | author }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="categories | async as categoryList">
    <mat-label>Category</mat-label>
    <mat-select [formControlName]="'category'">
      <mat-option *ngFor="let category of categoryList"  [value]="category.id">
        {{ category.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" [formControlName]="'pages'" placeholder="Pages">
  </mat-form-field>

  <app-preview-uploader [value]="item.screen" (selectImage)="changeImage($event)"></app-preview-uploader>

  <button mat-button type="submit" color="primary">Send</button>
</form>
